.primeira{
    float: right;
    background-color: #ab0909;;
    font-family: 'Open Sans', sans-serif;
    width: 300px;
    height: 250px;
    margin-right: 40pxs;
    border-radius: 20px;
    padding: 40px;
}
    





.segunda{
      float: right;
      color:#000000;
      background-color: #fbb8b8;
      width: 300px;
      height: 250px;
      margin-left:40pxs;
      border-radius:20px;
      padding: 40px;
      
          }        

  

.terceira{
    float: left;    
    color:#000000;
    background-color: #383853;
    width:  470px;
    height: 250px;
    margin-left: 40pxs; 
    border-radius: 20px;
    

}


  

 