
.summary, .preamble, .supporting div, .requirements h3, .requirements p {
    float: left;
    clear: left;
    width: 66%;
    padding: 1em 5% 1em 10%;
    color: black;
    background-color: burlywood;
  

}
.summary, .preamble{
    width: 80%;
    margin: 10 auto;
    background-color:#add8e6;
    
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
body {
    width:500;
    color:#000080;
    font-size: 90%;
    background-color: #f0e68c;
    margin-top:30 auto;
    padding: 50px;

}    

l{

    list-style-type:none;
    margin-left: 10px;
}
.intro{
    font-style:fantasy;
    padding-left: 5px;
    color:orangered;
}
.sidebar{
left: 2px;
margin: 20px;
background-color:pink;
color:black;

    }